*{ 
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 90, 124);
}

.music-player{
  display: flex;
  flex-direction: row;
  max-height: 450px;
  width: 800px;
}

.player{
  background-color: rgb(255, 233, 37);
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 1;
  justify-content: flex-end;
  }

.record{
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
}
.record-animation {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from{
  transform: rotate(0deg);
} 
to{
  transform: rotate(360deg);
}
}

.player h2{
  color: rgb(255, 102, 0);
  margin-bottom: 50px;
  font-size: 40px;
}
.slidecontainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.slidecontainer i{
  color: rgb(3, 90, 124);
  font-size: 16px;
}
.slider{
  -webkit-appearance: none;
  height: 10px;
  background-color: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
  border-radius: 20px;
  margin: 0 20px;
}

.slider:hover{
  opacity: 1;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controls > button{
  opacity: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 20px;
}

.play-pause > i{
  font-size: 60px !important;
}

.controls > button > i {
  font-size: 30px;
  color: white;

}



  .playlist{
    flex: 1;
    background-color: rgb(240, 232, 223);
    padding: 3em;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .playlist h2{
    margin-bottom: 20px;
  }

  .playlist ul{
    list-style-type: none;
    flex-basis: 100%;
    overflow-y: scroll;
    padding: 0 5px;
  }

  .playlist ul li{
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgb(163, 163, 163);
  }
  
  .playlist ul li.active{
    font-weight: bold;
  }

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(177, 175, 175);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(247, 187, 76);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: orangered;
}